.container h1 {
  font-size: 50px;
  margin: 0;
  padding: 100px 0 50px 0;
}

.container ul {
  list-style-type: none;
  margin: 0 0 50px 0;
  padding: 0;
}

.container li {
  font-size: 20px;
  margin: 0 20px 10px 20px;
  line-height: 1.5;
}

.container a {
  color: #FFF;
  background-color: #2C4A7A;
  margin: 50px 0;
  border-radius: 25px;
  padding: 12px 50px;
}

@media (min-width: 750px) {
  .container h1 {
    padding: 200px 0 0 0;
  }

  .container ul {
    margin: 50px 0 50px 0;
  }

  .container li {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
  }
}