body {
  font: 16px 'Proxima Soft', Arial, Helvetica, sans-serif;
  color: #463F3A;
  margin: 75px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  display: block;
  margin: auto;
  width: 150px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  padding: 0;
}
.menu li {
  list-style: none;
  margin: 15px auto;
}
.menu a {
  text-decoration: none;
  color: #E6E6E6;
  font-weight: 600;
  padding: 10px 200px;
}
.menu a:visited {
  color: #E6E6E6;
}
.menu a:hover, .menu a:focus, .menu a:active {
  color: #2C4A7A;
}
.dropdown-menu {
  display: none;
}
.contact {
  background: none;
  border: none;
  font: inherit;
  padding: 0;
}
.feature, .gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature img, .gallery img {
  display: block;
  width: 100%;
  margin: auto;
}
footer {
  text-align: center;
  margin-top: 50px;
}
.projects {
  margin-top: 50px;
}
.projects img {
  display: block;
  width: 100%;
}
@media (min-width: 800px) {
  body {
    margin: 100px 156px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .logo {
    margin-right: auto;
  }
  .menu {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .menu li {
    margin: 0 0 0 50px;
    padding: 0;
    text-align: left;
  }
  .menu a {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 15px;
  }
  .menu .dropdown-menu a {
    background-color: #fff;
    color: #2C4A7A;
    display: block;
    padding: 10px;
    min-width: 120px;
  }
  .dropdown-menu a:hover {
    background-color: #E6E6E6;
    color: #2C4A7A;
    padding: 15px;
  }
  .contact a {
    background: #2C4A7A;
    padding: 10px 15px;
    border-radius: 25px;
  }
  .contact a:hover {
    color: #fff;
  }
  .feature, .gallery, .archive {
    display: grid;
    gap: 5px;
    margin-top: 50px;
  }
  .feature, .archive {
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(30vw, 160px);
  }
  .feature img, .gallery img, .archive img {
    display: block;
    width: 100%;
  }
  .feature img, .archive img {
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }
}