.container {
  justify-content: center;
  margin-bottom: 25px;
  padding: 0;
}

h1 {
  font-size: 20px;
  margin: 25px 100px;
  padding-top: 25px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top left;
}

#recent h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C4A7A;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 300px;
}

@media (min-width: 750px) {
  #recent, #internship {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  }

  /* h1 {
  grid-area: 1/1/2/4;
  } */

  #recent img, #internship img {
    height: 300px;
    object-fit: cover;
    object-position: top left;
  }
}