body {
  font-family: 'Proxima Soft', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #463f3b;
  margin: 50px 40px;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

h1, h2, h3, h4 {
  padding: 0;
}

h1, h2, h3 {
  color: #2a4b7b;
}

h2, h3 {
  margin: 15px 0 10px 0;
}

h1, h2 {
  text-transform: uppercase;
}

h3, h4 {
  font-size: 18px;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
}

h2 {
  font-size: 16px;
  font-weight: 800;
}

h4 {
  margin: 15px 0 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
}

#skills li, .location-date li {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  border-radius: 25px;
}

#skills li {
  background: #EDEDE9;
  margin: 0 5px 10px 0;
  border-radius: 25px;
}

.location-date li {
  background: #2a4b7b;
  color: #fff;
  font-size: 12px;
}

#experiences {
  grid-row: 1/2;
}

#experiences ul {
  list-style-type: disc;
}

#experiences li {
  line-height: 1.5;
}

@media (min-width: 800px) {
  .container {
    margin: 70px;
    max-width: 900px;
  }

  main {
    display: grid;
    grid-template-columns: 40% 2fr;
    gap: 40px;
  }

  h1 {
    grid-area: 1/1/2/3;
    text-align: left;
    width: 340px;
  }

  #skills ul {
    padding-right: 100px;
  }

  #experiences {
    grid-area: 1/2/5/3;
  }
}