body {
  background: conic-gradient(from 194.13deg at 50% 54.28%, rgba(255, 168, 168, 0.4) -12.57deg, #F4DCF8 45.27deg, #C6C1FC 83.98deg, rgba(244, 220, 248, 0.7) 144.61deg, #FFA8A8 201.18deg, rgba(198, 193, 252, 0.4) 263.35deg, rgba(255, 255, 255, 0) 300.01deg, rgba(255, 168, 168, 0.4) 347.43deg, #F4DCF8 405.27deg);
  font-family: Proxima Soft, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2c4a7a;
  margin: 25px 10px;
}
nav ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
}
nav li {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:visited {
  color: #fff;
}
nav a:hover {
  color: #2c4a7a;
}
main, footer {
background: #fff;
border-radius: 15px;
}
a {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
}
footer {
  text-align: center;
  margin: 10px 0;
  padding: 20px;
}
.logo {
  width: 150px;
}
.container {
  text-align: center;
  padding: 175px 50px;
}
.container h1 {
  margin: 0 0 25px 0;
  padding: 0;
}
.container p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
@media (min-width: 800px) {
  body {
    margin: 25px;
  }
  nav li {
    display: inline-block;
    padding: 0;
  }
  footer {
    margin: 0;
  }
  .nav-right {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .nav-right li {
    padding: 25px;
  }
  .container {
    margin: 25px 0 10px 0;
    padding: 250px;
  }
  .container p {
    width: 350px;
    margin: 0 auto;
  }
  .contact {
    display: inline-block;
  }
  .contact:hover + .hide {
  background-color: #2C4A7A;
  display: block;
  position: absolute;
  color: #fff;
  border-radius: 15px;
  right: 25px;
  padding: 25px 5px 25px 25px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 225px;
  }
  .hide img {
    height: 15px;
    margin-left: 10px;
  }
}